html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
  }
     
  #map {
    width: 100%;    
    height: 100%;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
  }

  #map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  circle {
    fill-opacity: 0.6;  
    stroke: white;      
    stroke-width: 1;    
    pointer-events: auto; 
}

circle {
  pointer-events: auto; /* Enables interaction with tooltips */
}